flows/Opportunity_Flow_To_Create_Next_Step_Record_From_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>check_Opportunity_Next_Step_Field_Is_Not_Blank</name>
        <label>check Opportunity Next Step Field Is Not Blank</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_Step_Is_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_Step__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Next_Step__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Next_Step_Record</targetReference>
            </connector>
            <label>Next Step Is Not Blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Flow - To Create Next Step Record From Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Flow - To Create Next Step Record From Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Next_Step_Record</name>
        <label>Create Next Step Record</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Opportunity_Record_With_Related_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>$Record.Next_Step__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Next_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Opportunity_Record_With_Related_Fields</name>
        <label>Update Opportunity Record With Related Fields</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Most_Recent_Next_Step__c</field>
            <value>
                <elementReference>Create_Next_Step_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps1__c</field>
            <value>
                <elementReference>nextStepMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_Opportunity_Next_Step_Field_Is_Not_Blank</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>nextStepMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$User.FirstName} {!$User.LastName} {!$Flow.CurrentDateTime} : {!$Record.Next_Step__c}
{!$Record.Next_Steps1__c}</text>
    </textTemplates>
</Flow>
